<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ralemuriyan.mvvm_repository_hilt_sealed_coroutinnflow">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.HiltApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/actions"
        android:theme="@style/Theme.Mvvm_Repository_Hilt_Sealed_CoroutinnFlow">
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.category.CategoryActivity"/>

        <activity android:name=".activity.notificationpagination.NotificationActivity"/>
    </application>

</manifest>